{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {%
block content %}
<div
  id="login-container"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="logo pb-5">
    <img
      src="{{url_for('static', filename='images/logo.png')}}"
      class="logo"
      alt="logo raven raffles"
    />
  </div>

  <div id="app-form" class="d-flex flex-column align-items-center">
    <p id="app-text" class="mt-3">Login To Your Account</p>
    <form
      action="/login"
      method="post"
      class="d-flex flex-column align-items-center mt-3"
    >
      {{ form.hidden_tag() }} {{ form.username(class_="form-input",
      placeholder="Username") }} {{ form.password(class_="form-input",
      placeholder="Password") }} {{ form.submit(value="login",
      class_="form-submit text-bold") }}
    </form>
    <a class="text-white mt-3" href="/register.html"
      >Don't have an account? <span class="text-bold">Sign Up</span></a
    >
    <a class="text-white text-bold mb-3" href="/forgot-password.html"
      >Forgot Password</a
    >
  </div>
</div>
{% endblock %}
