@import "./config";

body.dashboard {
  background: url("../images/dashboard_bg.png") no-repeat center center fixed;
  // background-repeat: no-repeat;
  // background-size:cover;
  // height: 100%;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Proxima !important;
}

.glow-checkbox::before {
  -webkit-box-shadow: 0px 0px 31px 1px rgba(245, 0, 87, 0.4);
  box-shadow: 0px 0px 31px 1px rgba(245, 0, 87, 0.4);
}

.nav-item {
  margin-top: -2em;
  padding-left: 0;
  padding-top: 2em;

  &.active {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-bottom: 3px solid $brand-color;
    border-radius: 0.2em;
  }
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
    border-bottom: 3px solid $brand-color;
    border-radius: 0.2em;
  }
}

.navbar-logo {
  width: 100px;
}

.card-gradient {
  background-image: url("./../images/bg-checkout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: auto;

  border-radius: 1em;

  padding: 1.5em;

  .card-header-app {
    font-size: 1.3rem;
    background-color: black;
  }

  .info {
    h1 {
      color: rgba($color: #fff, $alpha: 0.7);
      margin: 0;
    }

    a {
      display: block;
      white-space: nowrap;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }

  .profiles-info {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    a {
      font-size: 0.9rem;
    }

    .fa-check {
      color: $green-color;
    }

    .profile-label {
      color: rgba($color: #fff, $alpha: 0.6);
    }
  }

  h6 {
    margin: 0;
  }

  .card-image {
    width: 100%;

    .check-icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.card-app-gradient {
  background-image: url("./../images/bg-checkout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: auto;

  border-radius: 1em;

  .card-app-header {
    height: 4rem;

    padding: 1rem 1.5rem;

    border-top-right-radius: inherit;
    border-top-left-radius: inherit;

    h1 {
      font-size: 1.2rem;
      margin: 0;
    }
    a {
      font-size: 0.9rem;
      color: $purple-color;
      font-weight: 700;
    }
  }

  .darker-header {
    background-color: rgba($color: #000, $alpha: 0.1);
  }

  .app-input-start {
    padding-left: 1rem;
    text-align: start;

    &::placeholder {
      text-align: start;
    }
  }

  .app-success-color {
    color: $green-color;
  }

  .app-label {
    color: white;
  }

  .btn-white {
    background-color: white;
  }

  .sidebar {
    background-color: $purple-darker-color;

    border-radius: 1em;

    .credit-card-field {
      label {
        display: block;
      }
      input {
        width: 100%;
      }

      input::placeholder {
        text-align: start;
        padding-left: 1em;
      }
    }
  }
}

.releases {
  width: auto;
  overflow-x: auto;
  .shoes {
    img {
      width: 200px;
      border-radius: 0.8em;
    }

    a {
      background-color: #310e7b;
      width: 9em;
    }
  }
}

.action {
  width: 100%;

  label {
    font-size: 0.7em;
  }
  input {
    width: 100%;
  }

  input::placeholder {
    font-size: 0.8em;
    text-align: start;
    padding-left: 1em;
  }
}

.table-app {
  th,
  tr {
    color: white;
  }

  tr {
    // background-color: rgba($color: #000, $alpha: .1);
    margin: 1em 0;
  }
}
