@import "./config";

@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: DidactGothic;
  src: url(../fonts/DidactGothic-Regular.ttf);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;
  span {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

body {
  background: url("../images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: Proxima !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

a:link {
  text-decoration: none !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-white {
  color: white !important;
}

.text-brand {
  color: $brand-color !important;
}

.text-red-soft {
  color: $red-soft !important;
}

.text-purple {
  color: $purple-color !important;
}

.logo {
  width: 250px;
}

p {
  margin: 0;
}

#login-container {
  height: 100vh;
}

#app-form {
  background: url("../images/bg_login_form.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 21rem;
  // height: 21rem;

  border-radius: 1rem;

  a {
    font-size: 0.9rem;
  }
}

#app-text {
  color: white;
  font-weight: 600;

  font-size: 1.1em;
}

.form-input {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);

  width: 17rem;
  height: 40px;

  color: white;
  border-radius: 6px;

  margin-bottom: 0.3em;
  text-align: center;

  padding: 0 1em;

  &::placeholder {
    text-align: center;
    color: white;
    opacity: 0.5;
  }

  &.invalid {
    border: red 1px solid;
  }
}

.form-submit {
  width: 17rem;
  height: 40px;
  border: 0;
  color: #743ae8;
  background-color: white;
  border-radius: 6px;
}

@media (min-width: 576px) {
  .logo {
    width: 350px;
  }
}

.msg {
  width: 21rem;
  background-color: white;
  border-radius: 0.75em;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}
