{% extends 'layouts/base_dashboard.html' %} {% block content %} {% include
'partials/_navbar.html' %}
<div class="container mt-5">
  {% with messages = get_flashed_messages() %} {% if messages %}

  <div class="row">
    <div class="col">
      <div class="card-gradient">
        <div class="info">
          <a class="text-bold text-white">Information </a>
        </div>
        <p class="text-white">
          {% for message in messages %} {{ message }} {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}

  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card-gradient d-flex">
        <div class="info">
          <a class="text-bold text-white">Raffles Available </a>
          <h1 class="text-semibold">1.204</h1>
        </div>
        <div class="card-image d-flex justify-content-end">
          <img
            src="{{url_for('static', filename='images/check-circle.png')}}"
            class="check-icon align-self-center"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-gradient mt-3 mt-md-0 d-flex">
        <div class="info">
          <a class="text-bold text-white">Raffles Submitted</a>
          <h1 class="text-semibold">5.344</h1>
        </div>
        <div class="card-image d-flex justify-content-end">
          <img
            src="{{url_for('static', filename='images/arrow-circle.png')}}"
            class="check-icon align-self-center"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="card-gradient mt-3 pb-1 mt-md-0 d-flex flex-column"
        style="height: 100%;"
      >
        <div class="info">
          <a class="text-bold text-white mb-1">Account Information</a>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Profiles</a>
              <a class="text-white"
                >Profile 4 <i class="fas fa-check ml-2"></i
              ></a>
            </div>
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Proxies</a>
              <a class="text-white"
                >US Residental <i class="fas fa-check ml-2"></i
              ></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Anti Captcha Balance</a>
              <a class="text-white">$24 <i class="fas fa-check ml-2"></i></a>
            </div>
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Status</a>
              <a class="text-white"
                >Activated <i class="fas fa-check ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal container fade"
    id="taskModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="card-app-gradient mt-3 mt-md-0">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div
              class="card-app-header no-header-color d-flex justify-content-between"
            >
              <h1 class="text-bold text-white align-self-center">
                Create Task
              </h1>
            </div>
            <div class="tasks pl-4 pb-4">
              <h6 class="text-white mb-4">Choose a release</h6>
              <div class="releases pb-2 d-flex">
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
              </div>
              <div class="action pt-4 d-md-flex">
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Raffle ID</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Raffle ID"
                    />
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold">Variant</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Variant"
                    />
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Size</label>
                    <input class="form-input" type="text" placeholder="US 3" />
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold"
                      >Amount of Entries</label
                    >
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Amount of Entries"
                    />
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Profiles</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Jane Doe"
                    />
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold">Account Group</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Hotmails"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 sidebar">
            <div class="credit-card-field d-flex flex-column p-4 mt-4">
              <p class="text-white text-bold">Credit Card</p>

              <label class="text-white text-bold" for="number"
                >Credit Card Number</label
              >
              <input class="form-input" type="text" placeholder="Number" />
              <div class="row no-gutters mt-1 mb-2">
                <div class="col-md-6 pr-0 pr-md-2">
                  <label class="text-white text-bold" for="exp">Exp Date</label>
                  <input class="form-input" type="text" placeholder="MM/YY" />
                </div>
                <div class="col-md-6 pr-0 pl-md-2">
                  <label class="text-white text-bold" for="cvv">CVV</label>
                  <input class="form-input" type="text" placeholder="CVV" />
                </div>
              </div>

              <a class="btn btn-white text-purple text-bold">Proceed</a>
              <a class="btn text-red-soft mt-2" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card-app-gradient mt-3 mt-md-0">
        <div class="card-app-header d-flex justify-content-between">
          <h1 class="text-bold text-white align-self-center">Tasks</h1>
          <a class="btn btn-white" data-toggle="modal" data-target="#taskModal"
            ><i class="fas fa-plus-circle fa-sm"></i> Create</a
          >
        </div>
        <div class="tasks pb-1">
          <table class="table table-borderless ml-2 table-app">
            <thead>
              <tr>
                <th scope="col"><input type="checkbox" /></th>
                <th scope="col">PRODUCT</th>
                <th scope="col">SIZE</th>
                <th scope="col">PROFILE</th>
                <th scope="col">PROXIES</th>
                <th scope="col">STATUS</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <i class="far fa-square glow-checkbox"></i>
                </th>
                <td>Bandana Box Logo Tee Black</td>
                <td>Small</td>
                <td>Profile 1</td>
                <td>US Residental</td>
                <td class="app-success-color">Successful Checkout</td>
                <td>
                  <i class="fas fa-play fa-md mr-2"></i>
                  <i class="fas fa-edit fa-md mr-2"></i>
                  <i class="fas fa-copy fa-md mr-2"></i>
                  <i class="fas fa-trash fa-md mr-2"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td>Bandana Box Logo Tee Black</td>
                <td>Small</td>
                <td>Profile 1</td>
                <td>US Residental</td>
                <td class="app-success-color">Successful Checkout</td>
                <td>
                  <i class="fas fa-play fa-md mr-2"></i>
                  <i class="fas fa-edit fa-md mr-2"></i>
                  <i class="fas fa-copy fa-md mr-2"></i>
                  <i class="fas fa-trash fa-md mr-2"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td>Bandana Box Logo Tee Black</td>
                <td>Small</td>
                <td>Profile 1</td>
                <td>US Residental</td>
                <td class="app-success-color">Successful Checkout</td>
                <td>
                  <i class="fas fa-play fa-md mr-2"></i>
                  <i class="fas fa-edit fa-md mr-2"></i>
                  <i class="fas fa-copy fa-md mr-2"></i>
                  <i class="fas fa-trash fa-md mr-2"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td>Bandana Box Logo Tee Black</td>
                <td>Small</td>
                <td>Profile 1</td>
                <td>US Residental</td>
                <td class="app-success-color">Successful Checkout</td>
                <td>
                  <i class="fas fa-play fa-md mr-2"></i>
                  <i class="fas fa-edit fa-md mr-2"></i>
                  <i class="fas fa-copy fa-md mr-2"></i>
                  <i class="fas fa-trash fa-md mr-2"></i>
                </td>
              </tr>
              <tr>
                <th scope="row"><input type="checkbox" /></th>
                <td>Bandana Box Logo Tee Black</td>
                <td>Small</td>
                <td>Profile 1</td>
                <td>US Residental</td>
                <td class="app-success-color">Successful Checkout</td>
                <td>
                  <i class="fas fa-play fa-md mr-2"></i>
                  <i class="fas fa-edit fa-md mr-2"></i>
                  <i class="fas fa-copy fa-md mr-2"></i>
                  <i class="fas fa-trash fa-md mr-2"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
