{% extends 'layouts/base_dashboard.html' %} {% block content %} {% include
'partials/_navbar.html' %}
<div class="container mt-5">
  {% with messages = get_flashed_messages() %} {% if messages %}

  <div class="row">
    <div class="col">
      <div class="card-gradient">
        <div class="info">
          <a class="text-bold text-white">Information </a>
        </div>
        <p class="text-white">
          {% for message in messages %} {{ message }} {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}

  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card-gradient d-flex">
        <div class="info">
          <a class="text-bold text-white">Raffles Available </a>
          <h1 class="text-semibold">1.204</h1>
        </div>
        <div class="card-image d-flex justify-content-end">
          <img
            src="{{url_for('static', filename='images/check-circle.png')}}"
            class="check-icon align-self-center"
          />
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-gradient mt-3 mt-md-0 d-flex">
        <div class="info">
          <a class="text-bold text-white">Raffles Submitted</a>
          <h1 class="text-semibold">5.344</h1>
        </div>
        <div class="card-image d-flex justify-content-end">
          <img
            src="{{url_for('static', filename='images/arrow-circle.png')}}"
            class="check-icon align-self-center"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="card-gradient mt-3 pb-1 mt-md-0 d-flex flex-column"
        style="height: 100%;"
      >
        <div class="info">
          <a class="text-bold text-white mb-1">Account Information</a>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Profiles</a>
              <a class="text-white"
                >Profile 4 <i class="fas fa-check ml-2"></i
              ></a>
            </div>
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Proxies</a>
              <a class="text-white"
                >US Residental <i class="fas fa-check ml-2"></i
              ></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Anti Captcha Balance</a>
              <a class="text-white">$24 <i class="fas fa-check ml-2"></i></a>
            </div>
            <div class="profiles-info d-flex justify-content-between">
              <a class="profile-label">Status</a>
              <a class="text-white"
                >Activated <i class="fas fa-check ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal container fade" id="taskModal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content card-app-gradient mt-3 mt-md-0">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div
              class="card-app-header no-header-color d-flex justify-content-between"
            >
              <h1 class="text-bold text-white align-self-center">
                Create Task
              </h1>
            </div>
            <div class="tasks pl-4 pb-4">
              <h6 class="text-white mb-4">Choose a release</h6>
              <div class="releases pb-2 d-flex">
                <div class="shoes mr-3 d-flex flex-column selected">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    data-src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
                <div class="shoes mr-3 d-flex flex-column">
                  <img
                    class="lazy"
                    src="{{url_for('static', filename='images/yeezy.jpg')}}"
                    alt=""
                  />
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-shoes text-white mt-n3">Yeezy Boost</a>
                  </div>
                </div>
              </div>
              <div class="action pt-4 d-md-flex">
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Raffle ID</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Raffle ID"
                    />
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold">Variant</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Variant"
                    />
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Size</label>
                    <select class="form-input" id="size">
                      <option value="3">US 3</option>
                      <option value="4">US 4</option>
                      <option value="5">US 5</option>
                      <option value="6">US 6</option>
                    </select>
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold"
                      >Amount of Entries</label
                    >
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Amount of Entries"
                    />
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="pr-4">
                    <label class="text-white text-bold">Profiles</label>
                    <select class="form-input" id="profiles">
                      <option value="3">John Doe</option>
                      <option value="4">John Doe</option>
                      <option value="5">John Doe</option>
                      <option value="6">John Doe</option>
                    </select>
                  </div>
                  <div class="pr-4">
                    <label class="text-white text-bold">Account Group</label>
                    <input
                      class="form-input"
                      type="text"
                      placeholder="Hotmails"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 sidebar">
            <div class="credit-card-field d-flex flex-column p-4 mt-4">
              <p class="text-white text-bold">Credit Card</p>

              <label class="text-white text-bold" for="number"
                >Credit Card Number</label
              >
              <input class="form-input" type="text" placeholder="Number" />
              <div class="row no-gutters mt-1 mb-2">
                <div class="col-md-6 pr-0 pr-md-2">
                  <label class="text-white text-bold" for="exp">Exp Date</label>
                  <input class="form-input" type="text" placeholder="MM/YY" />
                </div>
                <div class="col-md-6 pr-0 pl-md-2">
                  <label class="text-white text-bold" for="cvv">CVV</label>
                  <input class="form-input" type="text" placeholder="CVV" />
                </div>
              </div>

              <a class="btn btn-white text-purple text-bold" id="add-task"
                >Proceed</a
              >
              <a class="btn text-red-soft mt-2" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_tasks.html' %}
</div>
{% endblock %}
