{% extends 'layouts/base_dashboard.html' %} {% block content %} {% set
active_page = "Proxies" %} {% include 'partials/_navbar.html' %}

<div class="modal container fade" id="proxiesModal">
  <div class="modal-dialog d-flex justify-content-center">
    <div
      class="modal-content card-app-gradient mt-3 mt-md-0"
      style="width: 22rem;"
    >
      <div class="card-app-header d-flex justify-content-between">
        <h1 class="text-bold text-white align-self-center">Proxy Info</h1>
      </div>
      <div class="tasks pb-1" style="margin: 0 1.5em;">
        <div class="mt-3 mb-4 d-flex flex-column">
          <div
            class="d-flex flex-column align-self-center"
            id="proxy-address"
            style="width: 100%;"
          >
            <label class="app-label text-bold">Proxy Address</label>
            <input
              class="form-input app-input-start"
              placeholder="0.0.0.0"
              type="text"
            />
          </div>
          <div
            class="d-flex mt-1 flex-column align-self-center"
            id="proxy-port"
            style="width: 100%;"
          >
            <label class="app-label text-bold">Port</label>
            <input
              class="form-input app-input-start"
              placeholder="443"
              type="text"
            />
          </div>
          <div
            class="d-flex mt-1 flex-column align-self-center"
            id="proxy-username"
            style="width: 100%;"
          >
            <label class="app-label text-bold">Username</label>
            <input
              class="form-input app-input-start"
              placeholder="JohnDoe"
              type="text"
            />
          </div>
          <div
            class="d-flex mt-1 flex-column align-self-center"
            id="proxy-password"
            style="width: 100%;"
          >
            <label class="app-label text-bold">Password</label>
            <input
              class="form-input app-input-start"
              placeholder="ThisIsMyPassword123"
              type="text"
            />
          </div>
          <input
            class="form-submit text-bold align-self-center mt-2"
            type="submit"
            value="Save"
            style="width: 100%;"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal container fade" id="proxiesBulkModal">
  <div class="modal-dialog d-flex justify-content-center">
    <div
      class="modal-content card-app-gradient mt-3 mt-md-0"
      style="width: 22rem;"
    >
      <div class="card-app-header d-flex justify-content-between">
        <h1 class="text-bold text-white align-self-center">Import Proxies</h1>
      </div>
      <div class="tasks pb-1" style="margin: 0 1.5em;">
        <div class="mt-3 mb-4 d-flex flex-column">
          <form action="/proxies/add" method="post">
            {{ form.hidden_tag() }}
            <label class="app-label text-bold">Name</label>
            {{form.name(class_="form-input
            app-input-start",placeholder="Europe")}} {% for error in
            form.name.errors %}
            <span style="color: red;" class="mb-2">[{{ error }}]</span>
            {% endfor %}
            <label class="app-label text-bold">Proxy Address</label>
            {{form.proxies(class_="form-textarea",placeholder="http://user:password@proxyip:port",id="input-proxies",cols="30",rows="10")}}
            {% for error in form.name.errors %}
            <span style="color: red;" class="mb-2">[{{ error }}]</span>
            {% endfor %}
            <span
              class="mt-2 text-white"
              style="text-align: right;"
              id="total-proxies-loaded"
            ></span>
            {{form.submit(class_="form-submit text-bold align-self-center
            mt-2",style="width: 100%;",value="Add Group")}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row mt-3">
    <div class="col">
      <div class="card-app-gradient mt-3 mt-md-0">
        <div class="card-app-header d-flex justify-content-between">
          <h1 class="text-bold text-white align-self-center">Proxies</h1>
          <div>
            <a
              class="btn btn-white"
              data-toggle="modal"
              data-target="#proxiesBulkModal"
              ><i class="fas fa-file-import fa-sm"></i> Import from txt
            </a>
            <a
              class="btn btn-white"
              data-toggle="modal"
              data-target="#proxiesModal"
              ><i class="fas fa-plus-circle fa-sm"></i> Add
            </a>
          </div>
        </div>
        <div class="tasks pb-1">
          <table class="table table-borderless table-app">
            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">NAME</th>
                <th scope="col">PROXIES</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for proxy in proxies %}
              <tr>
                <th scope="row">[]</th>
                <td>{{proxy.name}}</td>
                <td>{{proxy.total}}</td>
                <td>
                  <a
                    name=""
                    id=""
                    class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                    href="#"
                    role="button"
                    ><i class="fas fa-edit fa-md btn-tasks-icon"></i
                  ></a>
                  <a
                    name="delete-task"
                    id=""
                    class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                    href="#"
                    role="button"
                    ><i class="fas fa-trash fa-md btn-tasks-icon"></i
                  ></a>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <th scope="row">1</th>
                <td>US Residential</td>
                <td>1.233</td>
                <td>
                  <a
                    name=""
                    id=""
                    class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                    href="#"
                    role="button"
                    ><i class="fas fa-edit fa-md btn-tasks-icon"></i
                  ></a>
                  <a
                    name="delete-task"
                    id=""
                    class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                    href="#"
                    role="button"
                    ><i class="fas fa-trash fa-md btn-tasks-icon"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
