@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: DidactGothic;
  src: url(../fonts/DidactGothic-Regular.ttf);
}
@media -sass-debug-info{filename{}line{font-family:\0000326}}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
@media -sass-debug-info{filename{}line{font-family:\0000328}}
.navbar-toggler span {
  color: rgba(255, 255, 255, 0.8) !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
body {
  background: url("../images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: Proxima !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
.modal-backdrop {
  z-index: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000355}}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

@media -sass-debug-info{filename{}line{font-family:\0000365}}
a:link {
  text-decoration: none !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000369}}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000376}}
.text-semibold {
  font-weight: 600 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000380}}
.text-bold {
  font-weight: 700 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000384}}
.text-white {
  color: white !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000388}}
.text-brand {
  color: #FF60F4 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000392}}
.text-red-soft {
  color: #FF5252 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000396}}
.text-purple {
  color: #743AE8 !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003100}}
.logo {
  width: 250px;
}

@media -sass-debug-info{filename{}line{font-family:\00003104}}
p {
  margin: 0;
}

@media -sass-debug-info{filename{}line{font-family:\00003108}}
#login-container {
  height: 100vh;
}

@media -sass-debug-info{filename{}line{font-family:\00003112}}
#app-form {
  background: url("../images/bg_login_form.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 21rem;
  border-radius: 1rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003122}}
#app-form a {
  font-size: 0.9rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003127}}
#app-text {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003134}}
.form-input {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 6px;
  margin-bottom: 0.3em;
  text-align: center;
  padding: 0 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003149}}
.form-input::placeholder {
  text-align: center;
  color: white;
  opacity: 0.5;
}
@media -sass-debug-info{filename{}line{font-family:\00003155}}
.form-input.invalid {
  border: red 1px solid;
}
@media -sass-debug-info{filename{}line{font-family:\00003159}}
.form-input option {
  background-color: #4416a8;
}

@media -sass-debug-info{filename{}line{font-family:\00003164}}
.form-submit {
  width: 17rem;
  height: 40px;
  border: 0;
  color: #743ae8;
  background-color: white;
  border-radius: 6px;
  transition: all ease-in-out 100ms;
}
@media -sass-debug-info{filename{}line{font-family:\00003172}}
.form-submit:hover {
  color: white;
  background-color: #743ae8;
}

@media -sass-debug-info{filename{}line{font-family:\00003178}}
.msg {
  width: 21rem;
  background-color: white;
  border-radius: 0.75em;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003187}}
body.dashboard {
  background: url("../images/dashboard_bg.png") no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Proxima !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003201}}
.glow-checkbox::before {
  -webkit-box-shadow: 0px 0px 31px 1px rgba(245, 0, 87, 0.4);
  box-shadow: 0px 0px 31px 1px rgba(245, 0, 87, 0.4);
}

@media -sass-debug-info{filename{}line{font-family:\00003206}}
.nav-item {
  margin-top: -2em;
  padding-left: 0;
  padding-top: 2em;
}
@media -sass-debug-info{filename{}line{font-family:\00003211}}
.nav-item.active {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 3px solid #FF60F4;
  border-radius: 0.2em;
}
@media -sass-debug-info{filename{}line{font-family:\00003216}}
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 3px solid #FF60F4;
  border-radius: 0.2em;
}

@media -sass-debug-info{filename{}line{font-family:\00003223}}
.navbar-logo {
  width: 100px;
}

@media -sass-debug-info{filename{}line{font-family:\00003227}}
.card-gradient {
  background-image: url("./../images/bg-checkout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  border-radius: 1em;
  padding: 1.5em;
}
@media -sass-debug-info{filename{}line{font-family:\00003239}}
.card-gradient .card-header-app {
  font-size: 1.3rem;
  background-color: black;
}
@media -sass-debug-info{filename{}line{font-family:\00003245}}
.card-gradient .info h1 {
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003250}}
.card-gradient .info a {
  display: block;
  white-space: nowrap;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003258}}
.card-gradient .profiles-info {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{}line{font-family:\00003262}}
.card-gradient .profiles-info a {
  font-size: 0.9rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003266}}
.card-gradient .profiles-info .fa-check {
  color: #7ED321;
}
@media -sass-debug-info{filename{}line{font-family:\00003270}}
.card-gradient .profiles-info .profile-label {
  color: rgba(255, 255, 255, 0.6);
}
@media -sass-debug-info{filename{}line{font-family:\00003275}}
.card-gradient h6 {
  margin: 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003279}}
.card-gradient .card-image {
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\00003282}}
.card-gradient .card-image .check-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003289}}
.card-app-gradient {
  background-image: url("./../images/bg-checkout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  border-radius: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003299}}
.card-app-gradient .card-app-header {
  height: 4rem;
  padding: 1rem 1.5rem;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{}line{font-family:\00003308}}
.card-app-gradient .card-app-header h1 {
  font-size: 1.2rem;
  margin: 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003312}}
.card-app-gradient .card-app-header a {
  font-size: 0.9rem;
  color: #743AE8;
  font-weight: 700;
}
@media -sass-debug-info{filename{}line{font-family:\00003319}}
.card-app-gradient .darker-header {
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{}line{font-family:\00003323}}
.card-app-gradient .app-input-start {
  padding-left: 1rem;
  text-align: start;
}
@media -sass-debug-info{filename{}line{font-family:\00003327}}
.card-app-gradient .app-input-start::placeholder {
  text-align: start;
}
@media -sass-debug-info{filename{}line{font-family:\00003332}}
.card-app-gradient .app-success-color {
  color: #7ED321;
}
@media -sass-debug-info{filename{}line{font-family:\00003336}}
.card-app-gradient .app-label {
  color: white;
}
@media -sass-debug-info{filename{}line{font-family:\00003340}}
.card-app-gradient .btn-white {
  background-color: white;
}
@media -sass-debug-info{filename{}line{font-family:\00003344}}
.card-app-gradient .sidebar {
  -webkit-box-shadow: -33px 3px 57px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -33px 3px 57px 0px rgba(0, 0, 0, 0.28);
  box-shadow: -33px 3px 57px 0px rgba(0, 0, 0, 0.28);
  background-color: #4416a8;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
@media -sass-debug-info{filename{}line{font-family:\00003354}}
.card-app-gradient .sidebar .credit-card-field label {
  display: block;
}
@media -sass-debug-info{filename{}line{font-family:\00003357}}
.card-app-gradient .sidebar .credit-card-field input {
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\00003361}}
.card-app-gradient .sidebar .credit-card-field input::placeholder {
  text-align: start;
  padding-left: 1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003369}}
.releases {
  width: auto;
  overflow-x: auto;
}
@media -sass-debug-info{filename{}line{font-family:\00003373}}
.releases .shoes img {
  width: 200px;
  border-radius: 0.8em;
}
@media -sass-debug-info{filename{}line{font-family:\00003378}}
.releases .shoes a {
  background-color: #310e7b;
  width: 9em;
  cursor: pointer;
}
@media -sass-debug-info{filename{}line{font-family:\00003385}}
.releases .shoes.selected img {
  border: 3px solid #d6344a;
}
@media -sass-debug-info{filename{}line{font-family:\00003389}}
.releases .shoes.selected a {
  border: 2px solid #d6344a;
}

@media -sass-debug-info{filename{}line{font-family:\00003396}}
.action {
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\00003399}}
.action label {
  font-size: 0.8em;
}
@media -sass-debug-info{filename{}line{font-family:\00003402}}
.action input {
  width: 100%;
}
@media -sass-debug-info{filename{}line{font-family:\00003406}}
.action input::placeholder {
  font-size: 0.8em;
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\00003413}}
.table-app th,
.table-app tr {
  color: white;
}
@media -sass-debug-info{filename{}line{font-family:\00003418}}
.table-app tr {
  margin: 1em 0;
}
@media -sass-debug-info{filename{}line{font-family:\00003422}}
.table-app th:first-of-type {
  text-align: center;
}
@media -sass-debug-info{filename{}line{font-family:\00003427}}
.table-app tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{}line{font-family:\00003430}}
.table-app tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media -sass-debug-info{filename{}line{font-family:\00003435}}
.table-app tbody .btn-tasks-icon {
  color: #743AE8;
}

@media -sass-debug-info{filename{}line{font-family:\00003441}}
.swal2-popup {
  background: #321a66 !important;
}
@media -sass-debug-info{filename{}line{font-family:\00003444}}
.swal2-popup .swal2-title,
.swal2-popup .swal2-content {
  color: white;
}

@media (min-width: 576px) {
@media -sass-debug-info{filename{}line{font-family:\00003451}}
  .logo {
    width: 350px;
  }

@media -sass-debug-info{filename{}line{font-family:\00003454}}
  .modal-dialog {
    max-width: unset;
    margin: unset;
  }

@media -sass-debug-info{filename{}line{font-family:\00003459}}
  .modal {
    top: 0 !important;
    left: 0;
    right: 0;
  }
}
@media (min-width: 767.98px) {
@media -sass-debug-info{filename{}line{font-family:\00003468}}
  .modal {
    position: fixed;
    top: 25% !important;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 991.98px) {
@media -sass-debug-info{filename{}line{font-family:\00003481}}
  .nav-item {
    margin-top: unset;
    padding-top: unset;
  }
}
