@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-semibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: DidactGothic;
  src: url(../fonts/DidactGothic-Regular.ttf);
}
@media -sass-debug-info{filename{}line{font-family:\0000326}}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
@media -sass-debug-info{filename{}line{font-family:\0000328}}
.navbar-toggler span {
  color: rgba(255, 255, 255, 0.8) !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000333}}
body {
  background: url("../images/login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Proxima !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000342}}
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

@media -sass-debug-info{filename{}line{font-family:\0000347}}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

@media -sass-debug-info{filename{}line{font-family:\0000352}}
a:link {
  text-decoration: none !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000356}}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media -sass-debug-info{filename{}line{font-family:\0000363}}
.text-semibold {
  font-weight: 600 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000367}}
.text-bold {
  font-weight: 700 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000371}}
.text-white {
  color: white !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000375}}
.text-brand {
  color: #FF60F4 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000379}}
.text-red-soft {
  color: #FF5252 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000383}}
.text-purple {
  color: #743AE8 !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000387}}
.logo {
  width: 250px;
}

@media -sass-debug-info{filename{}line{font-family:\0000391}}
p {
  margin: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000395}}
#login-container {
  height: 100vh;
}

@media -sass-debug-info{filename{}line{font-family:\0000399}}
#app-form {
  background: url("../images/bg_login_form.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 21rem;
  border-radius: 1rem;
}
@media -sass-debug-info{filename{}line{font-family:\00003109}}
#app-form a {
  font-size: 0.9rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003114}}
#app-text {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}

@media -sass-debug-info{filename{}line{font-family:\00003121}}
.form-input {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 17rem;
  height: 40px;
  color: white;
  border-radius: 6px;
  margin-bottom: 0.3em;
  text-align: center;
}
@media -sass-debug-info{filename{}line{font-family:\00003134}}
.form-input::placeholder {
  text-align: center;
  color: white;
  opacity: 0.5;
}

@media -sass-debug-info{filename{}line{font-family:\00003141}}
.form-submit {
  width: 17rem;
  height: 40px;
  border: 0;
  color: #743ae8;
  background-color: white;
  border-radius: 6px;
}

@media (min-width: 576px) {
@media -sass-debug-info{filename{}line{font-family:\00003151}}
  .logo {
    width: 350px;
  }
}
@media -sass-debug-info{filename{}line{font-family:\00003156}}
.msg {
  width: 21rem;
  background-color: white;
  border-radius: 0.75em;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}
