<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <img src="{{url_for('static', filename='images/logo.png')}}" class="navbar-logo" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% set navigation_bar = [
            (url_for('main.index') ,'Dashboard'),
            (url_for('main.tasks'), 'Tasks'),
            ('/',  'Accounts'),
            ('/',  'Proxies'),
            ('/',  'Profiles'),
            (url_for('account.settings'),  'Settings'),
            ('/',  'Documentations'),
            (url_for('account.logout'),  'Logout')
        ] -%}
        {% set active_page = active_page|default('Dashboard') -%}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-3">
                {% for href, caption in navigation_bar %}
                    <li  {% if caption == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a class="nav-link text-white mx-1" href="{{href|e}}">{{caption|e}}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>