{% include 'partials/_add_task.html' %}

<div class="row mt-3">
  <div class="col">
    <div class="card-app-gradient mt-3 mt-md-0">
      <div class="card-app-header d-flex justify-content-between">
        <h1 class="text-bold text-white align-self-center">Tasks</h1>
        <a class="btn btn-white" data-toggle="modal" data-target="#taskModal"
          ><i class="fas fa-plus-circle fa-sm"></i> Create</a
        >
      </div>
      <div class="tasks pb-1 table-responsive-xl">
        <table class="table table-borderless table-app">
          <thead>
            <tr>
              <th scope="col">
                ID
              </th>
              <th scope="col">PRODUCT</th>
              <th scope="col">SIZE</th>
              <th scope="col">PROFILE</th>
              <th scope="col">PROXIES</th>
              <th scope="col">STATUS</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody id="task-body">
            {% for task in tasks %}
            <tr data-id="{{task.id}}">
              <th scope="col">
                {{loop.index}}
              </th>
              <td scope="col">{{task.product.name}}</td>
              <td scope="col">US {{task.selected_size}}</td>
              <td scope="col">{{ task.profile.name }}</td>
              <td scope="col">{{ task.get_proxy_name()}}</th>
              <td scope="col">{{task.status}}</td>
              <td>
                <a
                  name=""
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-play fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name=""
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-edit fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name="duplicate-task"
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-copy fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name="delete-task"
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-trash fa-md btn-tasks-icon"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
