<div class="modal container fade" id="taskModal" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content card-app-gradient mt-3 mt-md-0">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div
            class="card-app-header no-header-color d-flex justify-content-between"
          >
            <h1 class="text-bold text-white align-self-center">
              Create Task
            </h1>
          </div>
          <div class="tasks pl-4 pb-4">
            <h6 class="text-white mt-3 mb-4">
              Choose a release (SHIFT + Scroll)
            </h6>
            <div class="releases pb-2 d-flex">
              {% for product in products %}
              <div
                class="shoes mr-3 d-flex flex-column"
                data-name="{{product.name}}"
                data-id="{{product.id}}"
              >
                <img class="lazy" data-src="{{product.thumbnail}}" alt="" />
                <div class="d-flex justify-content-center">
                  <a class="btn btn-shoes text-white mt-n3">{{product.name}}</a>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="action pt-4 d-md-flex">
              <div class="d-flex flex-column">
                <div class="pr-4">
                  <label class="text-white text-bold">Raffle ID</label>
                  <input
                    class="form-input"
                    id="raffle-id"
                    type="text"
                    placeholder="Raffle ID"
                    disabled
                  />
                </div>
                <div class="pr-4">
                  <label class="text-white text-bold">Variant</label>
                  <input
                    id="raffle-variant"
                    class="form-input"
                    type="text"
                    placeholder="Variant"
                    disabled
                  />
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="pr-4">
                  <label class="text-white text-bold">Size</label>
                  <select class="form-input" id="size"> </select>
                </div>
                <div class="pr-4">
                  <label class="text-white text-bold">Amount of Entries</label>
                  <input
                    class="form-input"
                    type="text"
                    placeholder="Amount of Entries"
                  />
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="pr-4">
                  <label class="text-white text-bold">Profiles</label>
                  <select class="form-input" id="profiles">
                    <option value="3">John Doe</option>
                    <option value="4">John Doe</option>
                    <option value="5">John Doe</option>
                    <option value="6">John Doe</option>
                  </select>
                </div>
                <div class="pr-4">
                  <label class="text-white text-bold">Account Group</label>
                  <select class="form-input" id="profiles">
                    <option value="3">John Doe</option>
                    <option value="4">John Doe</option>
                    <option value="5">John Doe</option>
                    <option value="6">John Doe</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 sidebar">
          <div class="credit-card-field d-flex flex-column p-4 mt-4">
            <p class="text-white text-bold">Credit Card</p>

            <label class="text-white text-bold" for="number"
              >Credit Card Number</label
            >
            <input class="form-input" type="text" placeholder="Number" />
            <div class="row no-gutters mt-1 mb-2">
              <div class="col-md-6 pr-0 pr-md-2">
                <label class="text-white text-bold" for="exp">Exp Date</label>
                <input class="form-input" type="text" placeholder="MM/YY" />
              </div>
              <div class="col-md-6 pr-0 pl-md-2">
                <label class="text-white text-bold" for="cvv">CVV</label>
                <input class="form-input" type="text" placeholder="CVV" />
              </div>
            </div>

            <a class="btn btn-white text-purple text-bold" id="add-task"
              >Proceed</a
            >
            <a class="btn text-red-soft mt-2" data-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <div class="card-app-gradient mt-3 mt-md-0">
      <div class="card-app-header d-flex justify-content-between">
        <h1 class="text-bold text-white align-self-center">Tasks</h1>
        <a class="btn btn-white" data-toggle="modal" data-target="#taskModal"
          ><i class="fas fa-plus-circle fa-sm"></i> Create</a
        >
      </div>
      <div class="tasks pb-1 table-responsive-xl">
        <table class="table table-borderless table-app">
          <thead>
            <tr>
              <th scope="col">
                ID
              </th>
              <th scope="col">PRODUCT</th>
              <th scope="col">SIZE</th>
              <th scope="col">PROFILE</th>
              <th scope="col">PROXIES</th>
              <th scope="col">STATUS</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody id="task-body">
            {% for task in tasks %}
            <tr>
              <th scope="col">
                {{task.id}}
              </th>
              <th scope="col">{{task.product.name}}</th>
              <th scope="col">{{task.selected_size}}</th>
              <th scope="col">1</th>
              <th scope="col">USA</th>
              <th scope="col">{{task.status}}</th>
              <td>
                <a
                  name=""
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-play fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name=""
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-edit fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name="duplicate-task"
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-copy fa-md btn-tasks-icon"></i
                ></a>
                <a
                  name="delete-task"
                  id=""
                  class="btn btn-sm btn-light mr-0 mt-2 mr-md-1 mt-lg-0"
                  href="#"
                  role="button"
                  ><i class="fas fa-trash fa-md btn-tasks-icon"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
